body {
    background-color: #f8f9fa;
    margin-top: 50px;
}

.form-container {
    max-width: 500px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
}
#screen2o{
    display: none;
}
#screen21{
    display: none;
}

.error {
    color: red;
}
.table-active{
    text-align: center;
    font-size: 3vw;
}
#modal-img{
    float: right;
}

#back1{
    left: 20%vw;
}

#sort{
    left: 80%vw;
}

#back1 {
    left: 20%vw;
}